<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Añadir diseño</title>
    <%- include('./modules/links.ejs') %>
    <link rel="stylesheet" href="/stylesheets/registerForm.css">

  </head>
  <body>
    <header>
      <%- include('./modules/navBar.ejs') %>
    </header>
    <main>
        <section class="section-1 padding-y-section">
          <div class="container-xxl">
            <div class="row justify-content-center align-items-center">
            <h3 class="text-center mb-3">Añade un diseño</h3>
            <form class="d-flex flex-column align-items-start" action="/design/addDesign/<%=id%>" method="post" enctype="multipart/form-data">
              <div class="mb-3">
                <label >
                <input
                type="text"
                name="design_name"
                aria-describedby="nameHelp" 
                placeholder="Nombre">

              </label>
              </div>
              <div class="mb-3">
                <label >
                <input
                type="text"
                name="garment"
                aria-describedby="nameHelp" 
                placeholder="Tipo de prenda">

              </label>
              </div>
              <div class="mb-3">
                <label >
                <input
                type="text"
                name="main_material"
                aria-describedby="nameHelp" 
                placeholder="Composición">

              </label>
              </div>
              <div class="mb-3">
                <label >
                <input
                type="text"
                name="main_color"
                aria-describedby="nameHelp" 
                placeholder="Color">
 
              </label>
              </div>
              <div class="mb-3">
              
                <select
                name="genre"
                aria-label="select genre"
                >
                <option selected disabled>Elige la orientación</option>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
                </select>
              </div>
              <div class="mb-3 d-flex flex-column">
                <label for="description">Descripción</label>
                <textarea
                class="p-3"
                rows="3"
                cols="17"
                id="description"
                type="text"
                name="description"
                aria-describedby="nameHelp" >
              </textarea>
              </div>
              <div class="mb-3">
                <label class="imagen text-light mb-3" for="inputImg">Sube una foto</label>
                <input
                type="file"
                name="img"
                id="inputImg"
                aria-describedby="imgHelp"
                hidden>
              </div>
              <div class="text-light">
                <button class="text-light" type="submit">Enviar</button>
                <button class="text-light" type="button" onclick="window.location.href='/designer/profileAdmin/<%=id%>'">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
        </section>
      </main>
  
  
  
      <%- include('./modules/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
  </body>
</html>